@import '../../stylesheets/base';

.alert {
    background-color: $color-error;
    height: 40px;
    padding: 12px;
    text-align: center;
}

.alert-icon,
.alert-text {
    display: inline-block;
}

.alert-text {
    margin-left: 12px;
    transform: translateY(-25%);
}
