@import '../../stylesheets/base';

.btn {
    position: relative;
    display: block;
}

.btn-header {
    float: left;
    width: 24px;
    height: 24px;
    margin: 16px;
    border: none;
    background: none;
}
